@charset "UTF-8";
:root {
    --cor0:rgb(253, 253, 253);
    --cor1:rgb(0, 42, 90);
    --cor2:rgb(0, 0, 0);
    --cor3:
    --cor4:
    --cor5:
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    text-align: center;
}

a.externo:after {
    content: "\1F517";
}

header {
    font-size: 3em;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-color: var(--cor1);
}

header > h1#principal {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor1);
    background-color: var(--cor1);
    padding: 2px 6px;
}
h1#principal > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor0);
    background-color: var(--cor1);
    padding: 2px 6px;
}
h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--cor3);
}

header > p {
    color: var(--cor0);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

nav {
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.126);
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

input {
    color: var(--cor3);
    padding: 2px;
    border-radius: 1px;
    text-decoration: none;

}
article {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o conteúdo */
    background-color: var(--cor0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas com a mesma largura */
    gap: 20px; /* Espaço entre as colunas */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o conteúdo */
    background-color: var(--cor0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}

.left-column, .right-column {
    background-color: var(--cor0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

main h1 {
    color: var(--cor5);
}

main h2 {
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor1), transparent);
}


main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 0; /* Sem bordas arredondadas */
    }

img.j {
    width: 300px;
    height: 400px;
}

main img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

main img.pq {
    max-width: 350px;
    display: block;
    margin: 20px auto;
}


aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    border: 3px 3px 0px rgba(0, 0, 0, 0.326);
}

aside > h3 {
    background-color: var(--cor4);
    color: var(--cor0);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00a0';
    list-style-position: inside;
    columns: 2;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr; /* Coloca uma coluna em telas menores */
    }
}

footer {
    background-color: var(--cor1);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

footer ul li a {
    display: inline;
    margin: 0 10px;
    text-decoration: none;
    color: white;
}
