@charset "UTF-8";
:root {
    --cor0:rgb(166, 231, 245);
    --cor1:blue
    --cor2:
    --cor3:
    --cor4:
    --cor5:
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    text-align: center;
}

a.externo:after {
    content: "\1F517";
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.269);
}

header > p {
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.126);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor5);
}

main h2 {
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

main p {
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

img {
    width: 300px;
    height: 400px;
}

main img {
    width: 100%;
}

main img.pq {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.q {
    background-image: url('imagens/propaganda.jpg');
    margin: auto;
    background-position: bottom center;
    display: block;
    border: 20px black;
    border-radius: 10px;
    background-color: lightgray;
    width: 500px;
    height: 500px;
    transform: translate(10%, 1%);
}

div.q1 {
    background-image: url('imagens/c1.jpg');
    margin: auto;
    background-position: center;
    display: block;
    border: 2px black;
    border-radius: 10px;
    background-color: lightgray;
    width: 500px;
    height: 500px;
    transform: translate(-6%, 1%);
}


div.q2 {
    background-image: url('imagens/m1.jpg');
    margin: auto;
    background-position: center;
    display: block;
    border: 2px black;
    border-radius: 10px;
    background-color: lightgray;
    width: 500px;
    height: 500px;
    transform: translate(8%, 1%);
}
div.q3 {
    background-image: url('imagens/m2.jpg');
    margin: auto;
    background-position: left center;
    display: block;
    border: 2px black;
    border-radius: 10px;
    background-color: lightgray;
    width: 500px;
    height: 500px;
    left: 50%;
    right: 50%;
    transform: translate(-10%, 1%);
}


aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    border: 3px 3px 0px rgba(0, 0, 0, 0.326);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00a0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
}